@page
@model DroneOfTheFuture.App.FrontEnd.Pages.ClientesPage.ClientesDetalles;



@{
    ViewData["Title"] = "ClientesDetalles";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table>
        <table class=" table">
            <tr>
                <th>Su Direccion</th>
                <th>Su identificacion</th>
                <th>Su fehca de Nacimiento</th>
                <th>Su nuemro de telefono</th>
                <th>Compras</th>
            </tr>
            <tr>
                <td>@Model.elCliente.Direccion</td>
                <td>@Model.elCliente.Identificacion</td>
                <td>@Model.elCliente.FechaNacimiento</td>
                <td>@Model.elCliente.NumeroDeTelefono</td>
                <td>
                    @foreach (var compra in @Model.elCliente.Compras)
                    {
                        <p>
                            @compra.NombreDelPaquete
                        </p>
                    }
                </td>

            </tr>
        </table>
    </table>
    <a asp-page="./ClientesList" class="btn-default"> Retornar</a>
